@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.overlay {
  display: none;
  position: absolute;
  top: 21%;
  background: white;
  height: 100%;
}

.actions a {
  all: unset;
  cursor: pointer;
}

.actions label {
  margin: 5px;
}

.actions .radio-container {
  margin: 10px;
}

.actions .radio-container:hover {
  margin: 10px;
  background-color: #bddfff;
}

.short-description {
  margin-bottom: 20px;
  padding: 3% 8%;
  font-family: inherit;
  text-align: center;
}

.result .h3 {
  font-family: 'Montserrat';
  text-align: center;
  text-transform: uppercase;
  color: grey;
  font-size: 13px;
}

.disease {
  font-size: 28px;
  font-family: ui-monospace;
  text-align: center;
  text-transform: uppercase;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/A1V44onDscL._SL1500_.jpg");
  color: rgba(0, 0, 0, 0.8);
  display: -ms-grid;
  display: grid;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  justify-items: center;
  weight: 100vw;
}

.signup-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "left right";
  max-width: 900px;
}

.left-container {
  background: #e2e2e2;
  overflow: hidden;
  padding: 40px 0 0 0;
  position: relative;
  text-align: center;
  width: 300px;
}

.left-container h1 {
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  font-size: 24px;
}

.left-container h1 i {
  background: #bddfff;
  border-radius: 50%;
  color: #e2e2e2;
  font-size: 24px;
  margin-right: 5px;
  padding: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.left-container .puppy {
  bottom: 20%;
  position: absolute;
  text-align: center;
}

.left-container .puppy:before {
  background: #e2e2e2;
  content: "";
  height: 100%;
  left: 0;
  opacity: .4;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.left-container img {
  width: 70%;
}

.right-container {
  background: #d7ebff;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "." ".";
  width: 500px;
}

.right-container h1:nth-of-type(1) {
  color: rgba(0, 0, 0, 0.8);
  font-size: 25px;
  margin-bottom: 16px;
  font-weight: 300;
}

.right-container .set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.right-container input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 38px;
  line-height: 38px;
  padding-left: 5px;
}

.right-container input, .right-container label {
  color: rgba(0, 0, 0, 0.8);
}

.right-container header {
  padding: 40px;
}

.right-container label, .right-container input, .right-container .pets-photo {
  width: 176px;
}

.right-container .pets-photo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". .";
}

.right-container .pets-photo button {
  border: none;
  border-radius: 50%;
  height: 38px;
  margin-right: 10px;
  outline: none;
  width: 50%;
}

.right-container .pets-photo button i {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
}

.right-container .pets-weight .radio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.right-container footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  display: -ms-grid;
  display: grid;
  padding: 5px 40px;
}

.right-container footer #back {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 38px;
  line-height: 38px;
  width: 50%;
  margin-left: 25%;
  font-family: "Montserrat", sans-serif;
  background: #00b881;
}

.right-container footer #back:hover {
  background: #171A2B;
  color: white;
}

.right-container footer #next {
  background: #e2e2e2;
  border: 1px solid transparent;
  color: #fff;
}

.right-container footer #next:hover {
  background: #171A2B;
}

.pets-name label, .pets-breed label, .pets-birthday label, .pets-gender label, .pets-spayed-neutered label, .pets-weight label {
  display: block;
  margin-bottom: 0px;
}

.radio-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: inline-block;
}

.radio-container label {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  line-height: 26px;
  margin: 0;
  font-size: small;
  padding: 5px;
  text-align: center;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.radio-container input[type="radio"] {
  display: none;
}

.radio-container input[type="radio"]:checked + label {
  background: #bddfff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.radio-container .noinput[type="radio"]:checked + label {
  background: #bddfff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.radio-container .yes input[type="radio"]:checked + label {
  background: #ff7d7d;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.radio-container .no input[type="radio"]:checked + label {
  background: #bddfff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.pets-spayed-neutered {
  display: inline !important;
  margin: 3px;
}

.boxes .set {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  margin: unset;
}

* {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
/*# sourceMappingURL=style.css.map */